+RegisterComponent(Auth)
  Typography(M Regular)
  color White()
  grid-column-gap 8px
  svg
    fill Gray(LT16)

+RegisterComponent(AuthInitials)
  background-color Green(DK10)

+RegisterComponent(Logout)
  fill Gray(DK8)
  &:hover
    fill Gray(DK16)
