+RegisterComponent(ErrorModalWrapper)
  Typography(XXL SemiBold Short)
  background-color Red(DS28 DK6)
  color White()
  fill White()
  border-radius 10px

+RegisterComponent(ErrorModalDissmissIcon)
  fill White()

+CreateMod(ErrorModal, Button)
  background-color White()
  color Violet(DK39)
  &:hover
    background-color White()
