+RegisterComponent(Layout)
  grid-template-rows 64px minmax(0, 1fr)

+RegisterComponent(CenteredDiv)
  position absolute
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)
  box-sizing border-box
  padding 40px
  border-radius 10px
