+RegisterComponent(LoginWrapper)
  CenteredDiv()
  background White()

+RegisterComponent(LoginLayout)
  background LightBlue(LT47)

+RegisterComponent(LoginError)
  Typography(S Short)
  background Red(A5)
  border 1px solid Red(DK10)
  svg
    fill Red(DK10)
