@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

+RegisterComponent(Typography)
  font-family 'Inter', sans-serif

+CreateMod(SfPro, Typography)
  font-family: 'Source Sans Pro', 'Inter', sans-serif;

+CreateMod(Regular, Typography)
  font-weight 400

+CreateMod(Medium, Typography)
  font-weight 500

+CreateMod(SemiBold, Typography)
  font-weight 600

+CreateMod(Short, Typography)
  line-height 1.2em

+CreateMod(Long, Typography)
  line-height 1.4em

+CreateMod(XXL, Typography)
  font-size 1.25rem

+CreateMod(XL, Typography)
  font-size 1.125rem

+CreateMod(L, Typography)
  font-size 1rem

+CreateMod(M, Typography)
  font-size 0.875rem

+CreateMod(S, Typography)
  font-size 0.75rem

+CreateMod(XS, Typography)
  font-size 0.6875rem

+CreateMod(XXS, Typography)
  font-size 0.625rem
